apiVersion: apps/v1
kind: Deployment
metadata:
  name: foo-service
  namespace: cdr-school 
  labels:
    app: foo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: foo
  template:
    metadata:
      labels:
        app: foo
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "8080"
        prometheus.io/path: "/metrics"
    spec:
      containers:
      - name: foo
        image: foo-server:1.0.1
        imagePullPolicy: Never
        ports:
        - name: web
          containerPort: 8080
      restartPolicy: Always
